<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/style.css">
	<title>Weather</title>
</head>
<body>
	<div class="container">
	
		<nav th:replace="layouts/nav :: navFragment"></nav>

		  <div class="row compare-row">
		    <div class="col-4">
		      	<div class="card">
				  <div class="card-body">
				  	<h4>Belfast</h4>
				    <p th:text="'(' + ${belfast.location.latitude} + ', ' + ${belfast.location.longitude} + ')'"></p>
				    <td class="align-middle"><img th:src=${belfast.weather.image}></td>
				    <p th:text="${belfast.weather.description}"></p>
				  </div>
				</div>
		    </div>
		    
		    <div class="col-4">
		      	<div class="card">
				  <div class="card-body">
				  	<h4>Dublin</h4>
				    <p th:text="'(' + ${dublin.location.latitude} + ', ' + ${dublin.location.longitude} + ')'"></p>
				    <td class="align-middle"><img th:src=${dublin.weather.image}></td>
				    <p th:text="${dublin.weather.description}"></p>
				  </div>
		        </div>
		    </div>
		    
		    <div class="col-4">
		      	<div class="card">
				  <div class="card-body">
				  	<h4>London</h4>
				    <p th:text="'(' + ${london.location.latitude} + ', ' + ${london.location.longitude} + ')'"></p>
				    <td class="align-middle"><img th:src=${london.weather.image}></td>
				    <p th:text="${london.weather.description}"></p>
				  </div>
				</div>
		    </div>
		</div>
	</div>
</body>
</html>