<htmL>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:fragment="navFragment">
	  <!-- Brand -->
	  <a class="navbar-brand" href="#">Movies</a>
	
	  <!-- Links -->
	  <ul class="navbar-nav nav-fill w-100">
	    <li class="nav-item">
	      <a class="nav-link" href="/">Home</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="shrek">Shrek</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="toystory">Toy Story</a>
	    </li>
	  </ul>
	</nav>
</body>
</htmL>