* {
	margin: 0;
	padding: 0;
}

html, body, container {
	min-height: 100%;
	height: 100%;
}

.fill {
	min-height: 100%;
    height: 100%;
	padding: 0;
}

.container {
	background-color: white;
	border: 1px solid #CDCDCD;
}

nav {
	background-color: #343434;
}

ul {
	list-style: none;
}

nav li {
	display: inline;
}

.page-title {
	font-size: 30px;
	text-align: center;
	padding: 40px 0;
}

.jumbotron {
}

.jumbo-links {
	padding-top: 20px;
}

.jumbo-row {
	padding: 40px 20px;
	background-color: rgba(255, 255, 255, 0.4);
	font-size: 40px;
	border: 1px solid #BCBCBC;
}

.jumbo-row a {
    color: #062F4F;
}

.jumbo-row:hover {
	background-color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
	background-color: rgba(255, 255, 255, 0.8);
	font-weight: 800;
	color: black;
}

.jumbotron {
	font-size: 20px;
	text-align: center;
	color: black;
}

.dwarf-img {
	width: 100px;
	height: 100px;
}
