<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title></title>
</head>
<body>
	<div class="container fill">
	
	<div th:replace="layouts/banner :: bannerFragment"></div>
	<nav th:replace="layouts/nav :: navFragment"></nav>
		
		<table class="table table-striped">
			<thead>
				<th>Name</th>
				<th>Country</th>
				<th>Place</th>
				<th>Description</th>
				<th>footPrint</th>
				<th>width</th>
				<th>length</th>
			</thead>
			<tbody>
				<tr th:each="building: ${byFoot}">
					<td th:text=${building.name}></td>
					<td th:text=${building.country}></td>
					<td th:text=${building.place}></td>
					<td th:text=${building.description}></td>
					<td th:text=${building.footPrint}></td>
					<td th:text=${building.width}></td>
					<td th:text=${building.length}></td>
					<td><img src="../static/images/Happy.png" th:src=${building.img}></td>
				</tr>
			</tbody>
		</table>
			
	</div>
</body>
</html>