* {
	margin: 0;
	padding: 0;
}

body {
}

ul {
	display: inline;
}

#homepage-header {
	text-align: center;
	font-size: 60px;
	padding: 40px 0;
}

nav {
	background-color: black;
	color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
	background-color: white;
	font-weight: 800;
	color: black;
}

.carousel-item img {
	height: 500px;
}

img {
	width: 100%;
}