<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/style.css">
	<title>Belfast Events</title>
</head>
<body>
	<div class="container fill">
	
		<nav th:replace="layouts/nav :: navFragment"></nav>
		
				<table class="table table-striped">
			<thead>
				<th>ID</th>
				<th>ID</th>
				<th>Title</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Time</th>
				<th>Venue</th>
				<th>Theme</th>
				<th>Cost</th>
			</thead>
			<tbody>
				<tr th:each="event: ${events}">
					<td class="align-middle"><img th:src=${event.image} width=150 height=150></td>
					<td class="align-middle" th:text=${event.identifier}></td>
					<td class="align-middle" th:text=${event.title}></td>
					<td class="align-middle" th:text="${#dates.format(event.startDate, 'dd-MM-yyyy')}"></td>
					<td class="align-middle" th:text="${event.endDate} ? ${#dates.format(event.endDate, 'dd-MM-yyyy')} : '-'">-</td>
					<td class="align-middle" th:text=${event.time}></td>
					<td class="align-middle" th:text=${event.venue}></td>
					<td class="align-middle" th:text=${event.theme}></td>
					<td class="align-middle" th:text=${event.cost}></td>
					<td class="align-middle"><a th:href=${event.url}>Find out more</td>
				</tr>
			</tbody>
		</table>
		
		
			
	</div>
</body>
</html>